.viewerContainer {
    height: calc(100vh - 24px);
}

.upper {
    height: 100%;
    width: 100%;
}

.lower {
    height: 100%;
    width: 100%;
}

.left {
    height: 100%;
}

.right {
    height: 100%;
}