$niras-primary: #ba1223;

//Rock
$r111: #f2f1ec;
$r122: #dcd5cf;
$r133: #bdbdb7;
$r144: #8d918d;
$r155: #65625e;
$r166: #454038;

//Spirit
$s311: #e3f3f1;
$s322: #c9e9e6;
$s333: #9cc6ca;
$s344: #7195a6;
$s355: #2d657d;
$s366: #004c64;